@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

body {
  font-family : 'Roboto Condensed', sans-serif;
  color : black ;
  line-height : 1.7;
}
.navbar-brandname {
  font-family: "Roboto Condensed", sans-serif;
  font-optical-sizing: auto;
  font-weight: 450;
  font-style: normal;
}